iot-front-end/node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
*/.idea
*/Lib
*/Scripts
*/pyvenv.cfg
*/venv
iot-logger/res
iot-logger/include
iot-sensors/res
iot-sensors/include
iot-sensors/pyvenv.cfg
nuclio-function/res
nuclio-function/include
