iot-front-end/node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
*/.idea
*/Lib
*/Scripts
iot-front-end/build/
iot-logger/.idea/
iot-logger/Scripts
iot-logger/Lib
iot-logger/res
iot-logger/include
iot-logger/pyvenv.cfg
iot-sensors/iot-air-conditioner/.idea/
iot-sensors/iot-air-conditioner/Lib
iot-sensors/iot-air-conditioner/Scripts
iot-sensors/iot-air-conditioner/res
iot-sensors/iot-air-conditioner/include
iot-sensors/iot-air-conditioner/pyvenv.cfg
iot-sensors/iot-car/.idea/
iot-sensors/iot-car/Lib
iot-sensors/iot-car/Scripts
iot-sensors/iot-car/res
iot-sensors/iot-car/include
iot-sensors/iot-car/pyvenv.cfg
iot-sensors/iot-home/.idea/
iot-sensors/iot-home/Lib
iot-sensors/iot-home/Scripts
iot-sensors/iot-home/res
iot-sensors/iot-home/include
iot-sensors/iot-home/pyvenv.cfg
iot-sensors/nuclio-function/.idea/
iot-sensors/nuclio-function/Lib
iot-sensors/nuclio-function/Scripts
iot-sensors/nuclio-function/res
iot-sensors/nuclio-function/include
iot-sensors/nuclio-function/pyvenv.cfg
