iot-front-end/node_modules
scripts/flow/*/.flowconfig
.flowconfig
*~
*.pyc
.grunt
*/.idea
*/Lib
*/Scripts
iot-front-end/build/
iot-logger/.idea/
iot-logger/Scripts
iot-logger/Lib
iot-logger/res
iot-logger/include
iot-logger/pyvenv.cfg
iot-sensors/.idea/
iot-sensors/Lib
iot-sensors/Scripts
iot-sensors/res
iot-sensors/include
iot-sensors/pyvenv.cfg
nuclio-function/.idea/
nuclio-function/Lib
nuclio-function/Scripts
nuclio-function/res
nuclio-function/include
nuclio-function/pyvenv.cfg
