.chatBox {
    width: 80%;
    height: 100%;
    float: left;
    position: relative;
    background: url('background.jpg') no-repeat;
    background-size: cover;
}

.messageContainer {
    width: 100%;
    height: 90%;
    overflow-y: scroll;
}

.inputBox {
    width: 100%;
    height: 5%;
}

.txtInput {
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.chatInfoHeader {
	position: relative;
	width: 100%;
	height: 5%;
    padding-left: 10px;
	background: #FFF;
}

div .chatInfoHeader {
    font-weight: bold;
	color: #444;
    cursor: default;
    font-size: 25px;
    border-left: 2px solid rgb(180, 180, 180);
}