.message {
    width: 100%;
    height: 70px;
    color: #555;
}

.message:hover {
    cursor: pointer;
    color: #555;
    background-color: #EEE;
}

.message.selected {
    color: #555;
	background: #419fd9; 
}

.propic {
    float: left;
    height: 100%;
}

.propic img {
    float: left;
    border-radius: 50%;
    width: 60px;
    height: 60px;
    padding: 5px;
    position: relative;
    top: 50%;
    -ms-transform: translateY(-50%);
    transform: translateY(-50%);
}

.messageinfo {
    float: left;
}

.messageinfo.selected, .ora.selected {
    color: #EEE;
}

.textname {
    margin-top: 5px;
    font-weight: bold;
}

.messagepreview {
    width: 250px;
    white-space: nowrap;
    height: 25px;
    overflow: hidden;
    text-overflow: ellipsis;
    margin-top: 5px;
}

.ora {
    float: right;
    padding-right: 10px;
    padding-top: 10px;
}
